@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --Text-footer-color: #f3fbff;
  --Text-footer-color-60: #f3fbff99;
  --outline-color: #d2d2d2;
  --background-color: #f7f7f7;
  --background-dark-color: #163c70;
  --placehold-color-1: #dedede;
  --placehold-color-2: #bfbfbf;
  --text-color: #626262;
  --title-color: #363636;
  --green-color: #25e6c8;
  --blue-color: #2baaec;
  --blue-color-80: #2baaeccc;
  --blue-color-20: #2baaec33;
}
/* GENERELL STYLING START */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto slab;
  line-height: 1.6;
}
p {
  font-family: roboto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--title-color);
}
/* GENERELL STYLING END */

/* HELPERS START*/
.container {
  width: 73%;
  margin: auto;
}
.btn {
  border-radius: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 3rem;
}
.td05 {
  transition-duration: 0.5s;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
/* HELPERS END*/

/* TOPMENU START */
.top-wrapper {
  border: 1px solid #707070;
}
.topmenu-container {
  display: flex;
  justify-content: space-between;
  height: 4.5vh;
}
.topmenu-item {
  display: flex;
  align-items: center;
}
.fa-clock {
  padding-right: 0.5rem;
}
.topmenu-item i {
  font-size: 1.2rem;
  color: var(--blue-color);
}
.topmenu-item a {
  color: var(--blue-color);
}
.topmenu-item a:hover i {
  color: var(--green-color);
}
#topmenu-item-1,
#topmenu-item-2,
#topmenu-item-3 {
  padding-right: 1.5rem;
}
/* TOPMENU END */

/* MAINMENU START */
.mainmenu-container {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;
}
.mainmenu-item {
  display: flex;
}
.mainmenu-item a {
  font-size: 1.3rem;
  padding-left: 1.5rem;
}
.mainmenu-item a:hover {
  color: var(--blue-color);
}
.fa-bars {
  display: none;
  color: var(--blue-color);
  font-size: 2rem;
}
.mainmenu-container button {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}
/* MAINMENU END */

/* SHOWCASE START */
.showcase-wrapper {
  background-color: var(--placehold-color-1);
}
.showcase-container {
  display: flex;
  justify-content: space-between;
  width: 76%;
}
.showcase-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showcase-item-2 {
  max-width: 690px;
}
.showcase-item img {
  margin-top: 1.5rem;
}
.showcase-item h1 {
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 1.1;
}
.showcase-item p {
  margin: 2rem 0;
}
.showcase-item button {
  width: 15rem;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: roboto;
  background-color: var(--green-color);
}
.showcase-item button:hover {
  background-color: var(--blue-color);
}
/* SHOWCASE END */

/* ABOUT US START */
.about-us-container {
  display: flex;
  justify-content: space-between;
}
.about-us-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us-container div {
  max-width: 705px;
}
.about-us-item-1 {
  margin-top: 5rem;
}
.about-us-item h1 {
  font-size: 2.1rem;
  font-weight: normal;
  padding-bottom: 1.5rem;
  line-height: 1;
  border-bottom: 3px solid var(--green-color);
}
.about-us-item span {
  color: var(--blue-color);
}
.about-us-item p {
  font-size: 1.1rem;
  margin-top: 2.5rem;
}
.about-us-item ul li p {
  margin-top: 0;
}
.about-us-item ul {
  display: flex;
  padding-top: 2.5rem;
  justify-content: space-between;
  max-width: 578px;
}
.about-us-item li p {
  font-family: roboto slab;
}
.about-us-item b {
  color: var(--blue-color);
  font-size: 2.5rem;
  font-weight: normal;
}
.about-us-item img {
  margin-top: 7rem;
  margin-right: 7rem;
}
/* ABOUT US END */

/* SERVICES START */
.services-wrapper {
  background-color: var(--background-color);
  padding-bottom: 8rem;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-container h1 {
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 2rem;
  border-bottom: 3px solid var(--green-color);
  text-align: center;
  width: 450px;
}
.services-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 104%;
}
.services-box {
  max-width: 450px;
  text-align: center;
  padding: 5rem 5rem;
  background-color: #fff;
  margin: 0.7rem;
  border-radius: 1rem;
}
.services-box img {
  padding: 1.5rem;
}
.services-box figure {
  border-radius: 50%;
  background-color: var(--green-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.box-5 figure {
  padding: 0 0.79rem;
}
.services-box h2 {
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.services-box p {
  color: var(--text-color);
  font-size: 1.1rem;
}
.services-box:hover {
  --green-color: #2baaec;
  box-shadow: 0px 10px 30px 1px #0000001c;
}
.services-box:hover figure {
  box-shadow: 0 0 0 10px var(--blue-color-20);
}
/* SERVICES END */

/* APPOINTMENT START */
.appointment-wrapper {
  background-color: #dedede;
}
.appointment-wrapper-overlay {
  background-color: var(--blue-color-80);
}
.appointment-item {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
}
.appointment-item h1 {
  color: var(--Text-footer-color);
  font-weight: normal;
  font-size: 1.7rem;
}
.appointment-container button {
  background-color: #fff;
  color: var(--blue-color);
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: bold;
  border: 1px solid var(--blue-color);
}
.appointment-item button:hover {
  background-color: var(--blue-color);
  color: #fff;
  border: 1px solid #fff;
}
/* APPOINTMENT END */

/* FOOTER START */
.footer-wrapper {
  background-color: var(--blue-color);
}
.footer-container {
  text-align: center;
  padding: 1.5rem 0;
}
.footer-item {
  color: var(--Text-footer-color-60);
}
/* FOOTER END */

/* MEDIAQUARIES START */
@media (max-width: 450px) {
  .services-container h1 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .topmenu-container,
  .about-us-item img,
  .showcase-item img,
  .mainmenu-item-2 {
    display: none;
  }
  .about-us-item ul li b {
    font-size: 1.5rem;
  }
  .about-us-item ul li p {
    font-size: 0.2rem;
    margin-top: 0.5rem;
  }
  .showcase-item h1 {
    font-size: 2.5rem;
  }
  .mainmenu-container i {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .about-us-container,
  .showcase-container {
    flex-direction: column;
    align-items: center;
  }
  .showcase-container {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }
  .showcase-item,
  .about-us-item,
  .about-us-item ul {
    text-align: center;
    padding: 1rem 0 0 0;
    max-width: 100%;
  }
  .showcase-item h1 {
    margin-top: 2rem;
  }
  .about-us-item ul li p {
    font-size: 1rem;
  }
  .showcase-item button {
    align-self: center;
  }
  .appointment-item h1 {
    display: none;
  }
  .appointment-item {
    justify-content: center;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1750px) {
  .showcase-item-1 {
    margin-right: 1rem;
  }
}
/* MEDIAQUARIES END */
